# Общие игнорируемые файлы и папки
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

# Игнорируем файлы и папки для Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/

# Игнорируем файлы и папки для C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pch
.cache/
build/
bin/
out/
CMakeFiles/
CMakeCache.txt
Makefile
cmake-build-debug/
cmake-build-release/
